{% extends "cursos.html" %}
{% block conteudoCurso %}
<section class="banner bannerAE" style="">
    <div class="color-overlay"></div>
    <div class="banner-elementos">
        <h1>Arquitetura e Urbanismo</h1>
    </div>
</section>
<main>
    <article>

        <h2>Por que Estudar na Emge?</h2>
        <div id="fotoDireita">
            <div id="conteudoEsquerda">
            <p>
                A EMGE está com inscrições abertas para os processos seletivos do curso de Arquitetura e Urbanismo, com
                ingresso no
                primeiro semestre de 2022.
            </p>
            <p>
                O curso de Arquitetura e Urbanismo prepara você para planejar, projetar e desenhar espaços urbanos, de forma
                a
                melhorar a qualidade de vida das pessoas. Os estudantes também aprendem técnicas de edificações, estruturas,
                fundações, instalações elétricas e hidráulicas, entre outras.
            </p>
            <p>
                Neste semestre, a sede da EMGE foi ampliada com a criação de espaços tecnológicos para atender às
                necessidades de
                cada área. Este é o caso do Innovation Lab, equipado com computadores da Apple conhecidos pelo alto
                desempenho e
                qualidade. Olha que incrível!
            </p>
            <p>
                Se você busca excelência e ensino personalizado, com flexibilidade, seu lugar é na EMGE! Venha fazer parte
                da Rede
                Internacional Jesuíta, que há quase 500 anos investe em inovação e tecnologia, e possui mais de 200
                instituições
                internacionais.
            </p>
                <p>
                    Modalidade: Bacharelado <br>
                    Duração do Curso: 4 anos <br>
                    Vagas: 50 manhã / 50 noite <br>
                    E-mail: secretaria@emge.edu.br <br>
                    Tel.: (31) 2125-8865</p>
            </div>
            <div id="itemDireita">
                <img src="https://i.imgur.com/UT0ZHUC.png" src="Blueprint de uma Casa">
            </div>
        </div>
    </article>
    <article>
        <h2> Graduação em Arquitetura e Urbanismo </h2>
        <p>
            A duração média do curso de Arquitetura e Urbanismo é de 5 anos. Durante esse período, o estudante terá
            aulas voltadas para a área de Humanas, bem como de Exatas, caracterizando uma grade curricular bem
            diversificada. No início do curso, é comum que tenham contato com disciplinas como Antropologia, Matemática
            e História da Arquitetura. À medida que o curso passa, entram outras mais práticas, como Desenho
            Arquitetônico e Sistemas Estruturais.
        </p>
        <p>Modalidade: Bacharelado</p>
        <p>Vagas: 50 manhã / 50 noite</p>
        <p>E-mail: secretaria@emge.edu.br</p>
        <p>Tel.: (31) 2125-8865</p>
    </article>
    <div id="imgCentral">
        <img src="https://i.imgur.com/3TggCxa.png">
    </div>
    <article>
        <h2> Área de Atuação </h2>
        <p>
            Dentro da área, o profissional pode atuar com arquitetura de interiores, industrial, verde, comunicação
            visual, paisagismo e ambiente, edificação e construção, luminotécnica, restauro de edifícios e urbanismo. O
            estudante recém-graduado pode optar por uma dessas áreas que sentir que tem mais afinidade.
        </p>
        <p>
            A área se divide em profissões como Arquitetura de interiores, industrial, Paisagismo, Edificação,
            Comunicação Visual, Urbanismo, entre outras. Em geral, os cursos podem englobar tanto conhecimento de
            Humanas quanto de Exatas.
        </p>
    </article>
    <article>
        <h2> Mercado de Trabalho </h2>
        <p>
            A tendência é que o profissional tenha mais oportunidades de emprego dentro de grandes cidades, porque o
            número de construções sempre é elevado. Por ser um polo de atração, é comum que muitos arquitetos optem por
            morar em cidades grandes, visando oportunidades melhores de trabalho. Além disso, mesmo se percam o emprego,
            torna-se mais fácil se recolocar no mercado.
        </p>
    </article>
    <article>
        <p>
            #VemPraEMGE
            #ExcelênciaAcadêmica
            #ConceitoMáximo
        </p>
    </article>
</main>
{% endblock conteudoCurso %}