{% extends "cursos.html" %}
{% block conteudoCurso %}
<!-- Seção do banner -->
<section class="banner bannerCC" style="">
    <div class="color-overlay"></div>
    <div class="banner-elementos">
        <h1>Ciência da Computação</h1>
    </div>
</section>
<main>
    <article>
        <h2>
            Por que estudar Ciência da Computação na EMGE?
        </h2>
        <div id="fotoDireita">
            <div id="conteudoEsquerda">
                <p>
                    O curso de Ciência da Computação da EMGE obteve Conceito Máximo no MEC, em avaliação in loco realizada por
                    uma Comissão de Especialistas composta por Cientistas da Computação do INEP (Órgão Oficial de Avaliação do
                    Sistema Federal de Ensino ligado ao MEC). A avaliação ocorreu nos dias 12/08/2015 a 15/08/2015 (Prot. nº
                    201406356; Cód. MEC nº 977982; Cód. Aval. nº 117527).
                </p>
                <p>
                    Os laboratórios do Curso de Ciência da Computação têm tecnologia avançada com o que existe de mais inovador
                    e tecnológico a fim de formar o profissional altamente capacitado para enfrentar os desafios da atualidade.
                    Por isso, também os laboratórios de Ciência da Computação da EMGE obtiveram Conceito Máximo no MEC.
                </p>
                <p>
                    Modalidade: Bacharelado <br>
                    Duração do Curso: 4 anos <br>
                    Vagas: 50 manhã / 50 noite <br>
                    E-mail: secretaria@emge.edu.br <br>
                    Tel.: (31) 2125-8865
                </p>
            </div>
            <div id="itemDireita">
                <img src="https://i.imgur.com/JvgjXEc.png" alt="Computador com Ocúlos">
            </div>
        </div>
    </article>
    <article>
        <h2>
            Por que ser Cientista da Computação?
        </h2>
        <p>
            O Curso de Ciência da Computação é hoje o mais concorrido em relação aos Cursos de Informática, dedica-se à
            Ciência da Computação e o uso da tecnologia na solução de problemas ligados às mais diversas áreas do conhecimento.
        </p>
        <p>
            Segundo as Diretrizes Curriculares do MEC, os cientistas da computação são responsáveis pelo desenvolvimento
            cientifico (teorias, métodos, linguagens, modelos, entre outras) e tecnológico da Computação. Eles constroem
            ferramentas que são normalmente utilizadas por outros profissionais da área de Computação, responsáveis pela
            construção de software/hardware para usuários finais. Eles são também responsáveis pela infraestrutura de
            software dos computadores (sistemas operacionais, compiladores, banco de dados, navegadores entre outras) e
            software para sistemas embarcados, sistemas moveis, sistemas de computação nas nuvens entre outros. Também são
            responsáveis pelo desenvolvimento de aplicações de propósito geral. Os cientistas da computação aplicam métodos
            e processos científicos para o desenvolvimento de produtos corretos. Sabem fazer uso da interdisciplinaridade,
            na medida em que conseguem combinar ciências, dando a elas um tratamento computacional.
        </p>
        <p>
            A Ciência da Computação contribui para o desenvolvimento humano e social, bem como o progresso regional e
            nacional na medida em que suas práticas permeiam as exigências empresariais de pequena e grande escala, que
            pressupõem valores ambientais agregados, bem como tecnologia avançada e fundamentada em práticas sociais e
            conhecimentos tradicionais das ciências exatas.
        </p>
    </article>
    <div id="imgCentral">
        <img src="https://i.imgur.com/1PVcZte.png">
    </div>
	<article>
        <h2>
            Mercado de Trabalho e Área de Atuação
        </h2>
        <p>
            Segundo pesquisa da IDC encomendada pela Salesforce, existirão até 2022 195 mil novas vagas para Cientistas
            da Computação e profissionais de tecnologia da informação. De tal modo que a área tecnologia é uma das áreas
            que mais contribui para a queda da taxa de desemprego do Brasil. Já para o Gartner, o número de novos postos
            de trabalho podem chegar a mais de 2 milhões no mundo em 2025.
        </p>
        <p>
            A formação em Ciência da Computação oferece um vasto campo de atuação profissional, pois praticamente todos
            os segmentos do mercado precisam de Cientistas da Computação e profissionais de tecnologia para apoiar o
            desenvolvimento e aperfeiçoamento dos seus negócios.
        </p>
        <p>
            Dentre as várias posições que um Cientista da Computação pode ocupar, abaixo estão listadas algumas das principais:
        </p>
        <div>
            <ul>
            <li>
                Cientista de Dados;
            </li>
            <li>
                Engenheiro de Inteligência Artificial;
            </li>
            <li>
                Gerente de TI;
            </li>
            <li>
                Desenvolvedor;
            </li>
            <li>
                Engenheiro de software;
            </li>
            <li>
                Gerente de projetos;
            </li>
            <li>
                Analista de sistema;
            </li>
            <li>
                Administrador de banco de dados, entre outros.
            </li>
        </ul>
        </div>
    </article>
</main>
{% endblock conteudoCurso %}
