{% extends "cursos.html" %}
{% block conteudoCurso %}
<section class="banner bannerEC" style="">
    <div class="color-overlay"></div>
    <div class="banner-elementos">
        <h1>Engenharia Civil</h1>
    </div>
</section>
<main>
    <article>


        <h2>Por que Estudar na Emge?</h2>
        <div id="fotoDireita">
            <div id="conteudoEsquerda">
                <p>O curso de ENGENHARIA CIVIL da EMGE tem Conceito Máximo no MEC.</p>
                <p>Os laboratórios da EMGE têm tecnologia avançada, com o que existe de mais inovador e tecnológico.</p>
                <p>O corpo docente da EMGE tem professores altamente capacitados e preparados.</p>
                <p>O curso de ENGENHARIA CIVIL da EMGE promove uma FORMAÇÃO DE EXCELÊNCIA, capacitando os
                    futuros profissionais para serem EMPREENDEDORES, ampliando ainda mais seu ingresso no mercado de trabalho.</p>

                <p>
                    Modalidade: Bacharelado <br>
                    Duração do Curso: 4 anos <br>
                    Vagas: 50 manhã / 50 noite <br>
                    E-mail: secretaria@emge.edu.br <br>
                    Tel.: (31) 2125-8865
                </p>
            </div>
            <div id="itemDireita">
                <img src="https://i.imgur.com/ADye2d0.png" alt="Capacete de Engenheiro e Pastas">
            </div>

        </div>
    </article>
    <article>
        <h2>Por Que Ser Engenheiro Civil?</h2>

        <p>O Engenheiro Civil contribui para o DESENVOLVIMENTO HUMANO E SOCIAL, bem como para o progresso regional e
            nacional, por meio de VALORES AMBIENTAIS AGREGADOS, TECNOLOGIA avançada e fundamentada em PRÁTICAS SOCIAIS e
            CONHECIMENTOS tradicionais das ciências exatas.</p>
        <p> O Engenheiro Civil formado na EMGE possui habilidades de GESTÃO de pessoas e de recursos de diversas
            categorias, o que possibilita que atue com excelência em diferentes áreas. </p>
        <p>A qualificação do Engenheiro Civil é indispensável à utilização RACIONAL E EQUILIBRADA dos recursos disponíveis
            para o crescimento econômico e a otimização do trabalho.</p>
    </article>
    <div id="imgCentral">
        <picture>
            <source media="(max-width:(max-width: 990px)" srcset="">
            <img src="https://i.imgur.com/5BgfUEp.png">
        </picture>
    </div>
    <article>
        <h2>Mercado de Trabalho e Área de Atuação</h2>

        <p>O número de profissionais da Engenharia Civil, no Brasil, apresenta um déficit considerável considerando suas
            dimensões continentais e o seu estágio de desenvolvimento.</p>
        <p>Entre os setores que mais apresentam movimentações, pode-se destacar o setor privado, na área de CONSTRUÇÃO E
            OPERAÇÃO DE ESTRADAS, PORTOS, AEROPORTOS e HIDRELÉTRICAS, além da atuação em diversas indústrias e na INFORMÁTICA.</p>
        <p>A atuação do Engenheiro Civil pode ser em EDIFICAÇÕES RESIDENCIAIS, comerciais e industriais, no trabalho com
            ESTRUTURAS e FUNDAÇÕES, obras HIDRÁULICAS e de SANEAMENTO, obras de INFRAESTRUTURA e de TRANSPORTE, na
            ADMINISTRAÇÃO PREDIAL, na EMISSÃO DE LAUDOS TÉCNICOS, entre outras.</p>
        <p>
            O egresso da Engenharia Civil tem uma gama de oportunidades no mercado de trabalho, podendo atuar em EMPRESAS
            de pequeno, médio e grande porte, bem como abrir seu PRÓPRIO NEGÓCIO.
        </p>
    </article>
</main>
{% endblock conteudoCurso %}