{% extends "base.html" %}
{% block conteudo %}
<h1>EMGE - ESCOLA DE ENGENHARIA DE MINAS GERAIS</h1>
<!-- Falar um pouco sobre / home / imagens-->
<main>
    <section id="sobre">
        <h2>
            Sobre nós
        </h2>
        <div>
            <h3>
                EMGE – Especializada em Engenharia
            </h3>
            <p>
                A EMGE é uma escola especializada em Engenharia. Ligada à rede de Instituições Jesuítas, é inspirada na
                Pedagogia Inaciana em busca da FORMAÇÃO DE EXCELÊNCIA.
            </p>
            <p>
                A EMGE promove a formação para o trabalho e a promoção da SUSTENTABILIDADE SOCIOAMBIENTAL. As formações
                técnicas e humanistas têm papeis de grande importância na construção do profissional socialmente
                corresponsável, dialética que caracteriza a tradição jesuítica de Educação, com EXCELÊNCIA TECNOLÓGICA.
            </p>
            <p>
                A EMGE assume como objetivo institucional a FORMAÇÃO PERSONALIZADA de seus profissionais, a fim de que
                se conscientizem da importância de seu papel social e atuem no processo de construção de uma sociedade
                pautada por valores éticos, sociais, humanísticos e ecológicos, e capacitados para a atuação no cenário
                técnico-científico e sociopolítico.
            </p>
        </div>
    </section>

    <section id="vestibular">
        <h2>
            Vestibular
        </h2>
        <div>
            <p>
                O Vestibular da EMGE é para você que procura novos desafios e uma FORMAÇÃO DE QUALIDADE MÁXIMA em
                Engenharia Civil, Ciência da Computação e Arquitetura e Urbanismo.
            </p>
            <p>
                Venha fazer parte da EMGE!
            </p>
        </div>
        <div>
            <h3>
                Processo Seletivo
            </h3>
            <p>
                O processo seletivo, mediante Vestibular (redação on-line), consistirá de uma redação na qual o
                candidato deverá obter nota mínima para aprovação.
            </p>
            <p>
                Confira o site original da <a href="https://web4.domhelder.edu.br/FrameHTML/web/app/Edu/PortalProcessoSeletivo/?c=2&f=1&ct=21&ps=89#/es/inscricoeswizard/dados-basicos" target="_blank">EMGE</a>
            </p>
        </div>
        <div>
            <h3>CEM 2021</h3>
            <p>Os candidatos participantes do CEM podem se inscrever normalmente pelo link abaixo. Os procedimentos para bolsas de estudo serão automáticos. Qualquer dúvida: <a href="mailto:cem@emge.edu.br">cem@emge.edu.br</a></p>
        </div>
        <div>
            <h3>
                Informações
            </h3>
            (31) 2125-8800 ou (31) 2125-8865

            <br>

            <a href="mailto:secretaria@emge.edu.br">secretaria@emge.edu.br</a>

            <br>

            <a href="mailto:vestibular@emge.edu.br">vestibular@emge.edu.br</a>

            <br>

            Local: Sede da Escola de Engenharia de Minas Gerais

            <br>

            Rua Álvares Maciel, 628 - Santa Efigênia - Belo Horizonte - MG
        </div>
    </section>

    <section id="contato">
        <h2> Contato </h2>

        <h3>Fale Conosco</h3>

            <p>A EMGE oferece diversos canais de contato com alunos, professores, funcionários e com a comunidade
                externa.</p>
            <p>Se você tiver dúvidas ou quiser saber mais informações, ENTRE EM CONTATO conosco.</p>

        <h4> Escola de Engenharia de Minas Gerais </h4>
            <p>Geral: contato@emge.edu.br</p>
            <p>Telefone Geral: (31) 2125-8880 </p>

        <h4> Secretaria acadêmica: </h4>
            <p>Geral: secretaria@emge.edu.br</p>
            <p>Telefone Geral: (31) 2125-8865 </p>

        <h4> Dom total </h4>
            <p>Geral: contato@domtotal.com </p>
            <p>Telefone Geral: (31) 2125-8821</p>

        <h4> Endereço: </h4>
            <p>Rua Álvares Maciel, 628</p>
            <p>Bairro Santa Efigênia </p>
            <p>CEP 30150-250 – Belo Horizonte – MG </p>

        <h3> Contatos Setores </h3>
            <p>Abaixo a lista de cada setor e seus respectivos meios de contatos></p>

        <div id="tabela-contato">
                    <table class="table table-bordered table-striped" border="1" cellspacing="0" cellpadding="0" align="left">
            <thead>
                <tr>
                    <th>SETORES</th>
                    <th>TELEFONE</th>
                    <th>E-MAIL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Administração (Pró-Reitora)</td>
                    <td>2125-8816</td>
                    <td><a href="mailto:adminitracao@emge.edu.br">administracao@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Auditório</td>
                    <td>2125-8832</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Biblioteca</td>
                    <td>2125-8813</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cantina</td>
                    <td>2125-8819</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Centro Dom Helder de Convenções</td>
                    <td>2125-8816</td>
                    <td><a href="mailto:administracao@emge.edu.br">administracao@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Contabilidade</td>
                    <td>2125-8839</td>
                    <td><a href="mailto:contabilidade@emge.edu.br">contabilidade@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Dom Total</td>
                    <td>2125-8821</td>
                    <td><a href="mailto:contato@domtotal.com">contato@domtotal.com</a></td>
                </tr>
                <tr>
                    <td>Extensão (Pró-Reitor)</td>
                    <td>2125-8827</td>
                    <td><a href="mailto:extensao@emge.edu.br">extensao@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Financeiro</td>
                    <td>2125-8882</td>
                    <td><a href="mailto:ronaldo@emge.edu.br">ronaldo@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Gerência Operacional</td>
                    <td>2125-8882</td>
                    <td><a href="mailto:ronaldo@emge.edu.br">ronaldo@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Gerente de Comunicação</td>
                    <td>2125-8821</td>
                    <td><a href="mailto:contato@domtotal.com">contato@domtotal.com</a></td>
                </tr>
                <tr>
                    <td>Graduação (Pró-Reitora Ensino)</td>
                    <td>2125-8820</td>
                    <td><a href="mailto:ensino@emge.edu.br">ensino@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Graduação (Secretaria Acadêmica)</td>
                    <td>2125-8865</td>
                    <td><a href="mailto:secretaria@emge.edu.br">secretaria@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Graduação (Coordenação Engenharia Civil)</td>
                    <td>2125-8869</td>
                    <td><a href="mailto:civil@emge.edu.br">civil@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Informática</td>
                    <td>2125-8815 / 8829</td>
                    <td><a href="mailto:informatica@emge.edu.br">informatica@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Pesquisa (Pró-Reitor)</td>
                    <td>2125-8869</td>
                    <td><a href="mailto:pesquisa@emge.edu.br">pesquisa@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Recepção</td>
                    <td>2125-8880 / 8888</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Reitoria (Reitor)</td>
                    <td>2125-8860</td>
                    <td><a href="mailto:reitoria@emge.edu.br">reitoria@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Sala de Jogos</td>
                    <td>2125-8922</td>
                    <td><a href="mailto:sala.jogos@emge.edu.br">sala.jogos@emge.edu.br</a></td>
                </tr>
                <tr>
                    <td>Xerox</td>
                    <td>3241-8154</td>
                    <td><a href="mailto:xerox@emge.edu.br">xerox@emge.edu.br</a></td>
                </tr>
            </tbody>
            </table>
        </div>
    </section>

</main>

{% endblock conteudo %}
