
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(204, 53, 71);">
  <a class="navbar-brand" href="#">EMGE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index#sobre">Sobre nós</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index#contato">Contato</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index#vestibular">Vestibular</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cursos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cienciacomputacao">Ciência da Computação</a>
          <a class="dropdown-item" href="/engenhariacivil">Engenharia Civil</a>
          <a class="dropdown-item" href="/arquiteturaeurbanismo">Arquitetura e Urbanismo</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entrar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/alunos">Portal do Aluno</a>
          <a class="dropdown-item" href="/professores">Portal do Professor</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </div>
</nav>

